ul.lwp-box {
  color: #bedead;
  display: inline;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  list-style-image: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  text-shadow: 0 2px 0 #fff;
  text-transform: none;
}

.lwp-hidden ul.lwp-box {
  display: none;
}

ul.lwp-box li.lwp-anchor {
  cursor: pointer;
  display: block;
  margin: 0;
  z-index: 998;
}

ul.lwp-box li.lwp-item {
  background-color: #bedead;
  border: 1px solid #9ebe8d;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: none !important;
  line-height: 1.3 !important;
  margin: 0 !important;
  padding: 2px 5px !important;
  position: relative;
  vertical-align: middle;
  z-index: 999;
}

ul.lwp-box:hover li {
  display: block !important;
}

ul.lwp-box li.lwp-item:hover {
  background-color: #defecd;
}

ul.lwp-box li.lwp-active {
  background-color: #eeffdd;
}

.lwp {
  position: relative; /* Need a non-static parent to position the dropdown anchor */
}

.lwp-toggle {
  background-color: #bedead;
  border: 1px solid #bedead;
  border-radius: 30px;
  bottom: 120px;
  color: #406020;
  cursor: pointer;
  font-family: monospace;
  font-size: 21px;
  height: 30px;
  line-height: 30px;
  position: fixed;
  right: 15px;
  text-align: center;
  width: 30px;
  z-index: 999;
}

a.lwp-toggle:hover {
  color: #609030;
}

.lwp-hidden .lwp-toggle-hidden {
  background-color: #fff;
}
